<div class="my-16">
  <h2 class="text-3xl font-bold text-center mb-4 mx-auto underline">
    CANTATA IN
  </h2>
  <div #flipdown class="flipdown mx-auto"></div>
</div>

<mat-divider></mat-divider>

<section class="max-w-screen-xl mx-auto my-12 px-4 md:px-8">
  <h2 class="ccq-section-heading">Quiz Awards</h2>
  <div class="trophy-containers mt-12 mb-8 mx-auto text-center">
    <div class="trophy-container" id="gold">
      <img
        class="trophy"
        src="assets/trophies/gold-trophy.png"
        aria-hidden="true"
      />
      <div class="trophy-base mat-elevation-z3">
        <p>
          <span class="double-underline sm:font-bold sm:text-xl">1st Prize</span
          ><br /><br /><span class="font-bold text-3xl trophy-prize"
            >₦10,000</span
          >
        </p>
      </div>
    </div>
    <div class="trophy-container" id="silver">
      <img
        class="trophy"
        src="assets/trophies/silver-trophy.png"
        aria-hidden="true"
      />
      <div class="trophy-base mat-elevation-z3">
        <p>
          <span class="double-underline sm:font-bold sm:text-xl">2nd Prize</span
          ><br /><br /><span class="font-bold text-3xl trophy-prize"
            >₦5,000</span
          >
        </p>
      </div>
    </div>
    <div class="trophy-container" id="bronze">
      <img
        class="trophy"
        src="assets/trophies/bronze-trophy.png"
        aria-hidden="true"
      />
      <div class="trophy-base mat-elevation-z3">
        <p>
          <span class="double-underline sm:font-bold sm:text-xl">3rd Prize</span
          ><br /><br /><span class="font-bold text-3xl trophy-prize"
            >₦3,000</span
          >
        </p>
      </div>
    </div>
  </div>
  <p class="text-center text-2xl">
    <span class="text-3xl font-bold">*</span>&nbsp;There will be consolation
    prizes.
  </p>
</section>

<section class="max-w-screen-xl mx-auto my-12 px-4 md:px-8">
  <h2 class="ccq-section-heading">About Quiz</h2>
  <div class="pl-8">
    <ul class="list-disc list-outside text-2xl max-w-screen-md mx-auto">
      <li class="mb-4">
        Compete with other participants of the Christmas Cantata Quiz.
      </li>
      
      <li class="mb-12">
        <span class="mb-4">
          Answer timed multiple choice questions online on the following Bible
          passages:
        </span>
        <ul class="list-none list-outside bible-chapters mx-auto">
          <li class="mt-4 mb-2 font-bold double-underline">
            Isaiah chapters 7 to 11
          </li>
          <li class="mb-2 font-bold double-underline">Luke chapters 1 to 4</li>
        </ul>
      </li>

      <li class="mb-4">
        <span class="font-bold">Score 50% and above </span>in the first round to
        progress to the second round.
      </li>
      <li class="mb-4">
        <span class="font-bold">Top 5 participants </span>(champions) in the
        second round progress to the final round.
      </li>
      <li class="mb-4">
        Champions <span class="font-bold">compete on stage</span> during the
        Christmas Cantata for winners to emerge.
      </li>
    </ul>
  </div>
</section>

<section class="max-w-screen-sm mx-auto my-12 px-4 md:px-8">
  <h2 class="ccq-section-heading">Registration</h2>
  <div class="pl-8">
    <ul class="list-disc list-outside text-2xl max-w-screen-md mx-auto">
      <li class="mb-4">
        Register for the Christmas Cantata Quiz for
        <span class="font-bold">₦500</span> only.
      </li>
      <li class="mb-4">
        To register, send your full name via
        <a
          href="https://api.whatsapp.com/send?phone=2347033777385&text=Hi%20Obum.%0D%0AI%20came%20from%20the%20Christmas%20Cantata%20Quiz%20website.%0D%0AI%20want%20to%20register%20for%20the%20quiz.%0D%0AMy%20full%20name%20is%20"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
        >
          Whatsapp to Obum.</a
        >
      </li>
    </ul>
    <p class="text-center">
      <a
        mat-raised-button
        href="https://api.whatsapp.com/send?phone=2347033777385&text=Hi%20Obum.%0D%0AI%20came%20from%20the%20Christmas%20Cantata%20Quiz%20website.%0D%0AI%20want%20to%20register%20for%20the%20quiz.%0D%0AMy%20full%20name%20is%20"
        color="primary"
          target="_blank"
          rel="noopener noreferrer"
          id="register-button"
        >Register</a
      >
    </p>
  </div>
</section>
