<section class="max-w-screen-md mx-auto my-12 px-4 md:px-8">
  <h2 class="ccq-section-heading">About Christmas Cantata</h2>
  <div class="ccq-about-cantata mb-16" data-aos="fade-up">
    <div class="ccq-about-cantata-icon">
      <svg aria-hidden="true" alt="" style="width: 172px; height: 172px">
        <use xlink:href="assets/svgs/music.svg#svg"></use>
      </svg>
    </div>
    <div class="text-center md:text-left ccq-about-cantata-body">
      <h3 class="text-3xl mt-2 md:font-bold">What</h3>
      <p class="text-xl md:text-2xl">
        Art Music. Classicals, Folks, Solo and choral renditions.
      </p>
    </div>
  </div>
  <div class="ccq-about-cantata mb-16" data-aos="fade-up">
    <div class="ccq-about-cantata-icon">
      <svg aria-hidden="true" alt="" style="width: 96px; height: 96px">
        <use xlink:href="assets/svgs/location.svg#svg"></use>
      </svg>
    </div>
    <div class="text-center md:text-left ccq-about-cantata-body">
      <h3 class="text-3xl mt-2 md:font-bold">Where</h3>
      <p class="text-xl md:text-2xl">Theatre Arts Auditorium, AE-FUNAI.</p>
    </div>
  </div>
  <div class="ccq-about-cantata mb-16" data-aos="fade-up">
    <div class="ccq-about-cantata-icon">
      <svg aria-hidden="true" alt="" style="width: 96px; height: 96px">
        <use xlink:href="assets/svgs/calendar.svg#svg"></use>
      </svg>
    </div>
    <div class="text-center md:text-left ccq-about-cantata-body">
      <h3 class="text-3xl mt-2 md:font-bold">Date</h3>
      <p class="text-xl md:text-2xl">Saturday, 20th November 2021.</p>
    </div>
  </div>
  <div class="ccq-about-cantata mb-16" data-aos="fade-up">
    <div class="ccq-about-cantata-icon">
      <svg aria-hidden="true" alt="" style="width: 144px; height: 144px">
        <use xlink:href="assets/svgs/clock.svg#svg"></use>
      </svg>
    </div>
    <div class="text-center md:text-left ccq-about-cantata-body">
      <h3 class="text-3xl mt-2 md:font-bold">Time</h3>
      <p class="text-xl md:text-2xl">11:00 AM</p>
    </div>
  </div>
  <div class="ccq-about-cantata mb-16" data-aos="fade-up">
    <div class="ccq-about-cantata-icon">
      <svg aria-hidden="true" alt="" style="width: 96px; height: 96px">
        <use xlink:href="assets/svgs/whatsapp.svg#svg"></use>
      </svg>
    </div>
    <div class="text-center md:text-left ccq-about-cantata-body">
      <h3 class="text-3xl mt-2 md:font-bold">Contact</h3>
      <p class="text-xl md:text-2xl underline">
        <span>Obum</span><br />
        <a
          href="https://api.whatsapp.com/send?phone=2347033777385&text=Hi%20Obum.%0D%0AI%20came%20from%20the%20Christmas%20Cantata%20Quiz%20website.%0D%0AI%20want%20to%20know%20more%20about%20the%20event."
          target="_blank"
          rel="noopener noreferrer"
          >0703 377 7385</a
        >
      </p>
    </div>
  </div>
  <div class="ccq-about-cantata mb-16" data-aos="fade-up">
    <div class="ccq-about-cantata-icon">
      <svg aria-hidden="true" alt="" style="width: 196px; height: 144px">
        <use xlink:href="assets/svgs/bible.svg#svg"></use>
      </svg>
    </div>
    <div class="text-center md:text-left ccq-about-cantata-body">
      <h3 class="text-3xl mt-2 md:font-bold">Bible Quiz</h3>
      <p class="text-xl md:text-2xl">
        Christmas Cantata Quiz competition for all to participate.
      </p>
    </div>
  </div>
</section>
