@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@angular/material/theming';
@include mat-core();

$ccq-primary: mat-palette($mat-red);
$ccq-accent: mat-palette($mat-blue, A200, A100, A400);

.light_mode {
  @include angular-material-theme(mat-light-theme($ccq-primary, $ccq-accent));
}

.dark_mode {
  @include angular-material-theme(mat-dark-theme($ccq-primary, $ccq-accent));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.double-underline {
  text-decoration: underline;
  text-decoration-style: double;
}

.ccq-section-heading {
  text-align: center;
  margin: 112px 0 64px 0;
  font-size: 2em;
  color: #f44336;
  position: relative;
  padding-bottom: 15px;
  font-weight: 900;
}

.ccq-section-heading::after {
  content: '';
  height: 2px;
  background-color: #ef9a9a55;
  width: 160px;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  position: absolute;
}

.ccq-section-heading::before {
  content: '›';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #e57373;
  left: 50%;
  margin-left: -8px;
  transform: rotate(90deg);
  box-shadow: 0 0 0 4px rgba(251, 182, 206, 0.2);
  bottom: -25px;
  font-size: 0.7em;
  text-indent: 0px;
  color: #fff;
  line-height: 12.5px;
  z-index: 9;
}

.light_mode .trophy-base {
  background-color: #fafafa;
  color: #000000de;
}

.dark_mode .trophy-base {
  background-color: #212121;
  color: white;
}

.snackbar-error {
  color: #fff;
}

.snackbar-error::before {
  font-family: 'Material Icons';
  content: '\e000';
  color: #fc9494;
  margin-right: 8px;
}
