@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@angular/material/theming';
@include mat-core();

$ccq-primary: mat-palette($mat-red);
$ccq-accent: mat-palette($mat-red, A200, A100, A400);

.light_mode {
  @include angular-material-theme(mat-light-theme($ccq-primary, $ccq-accent));
}

.dark_mode {
  @include angular-material-theme(mat-dark-theme($ccq-primary, $ccq-accent));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
