<ngx-ui-loader
  fgsColor="#F44336"
  pbColor="#F44336"
  [fgsType]="SPINNER.foldingCube"
>
</ngx-ui-loader>

<div id="app-container">
  <mat-toolbar class="mat-elevation-z3">
    <span>Christmas Cantata</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="mat-elevation-z3">
    <span class="mx-auto text-base">
      &copy; St. Cecilia's Choir,
      <a
        href="https://nfcsaefunai.org"
        target="_blank"
        rel="noopener noreferrer"
        class="underline"
        >NFCS AE-FUNAI</a
      >.
    </span>
  </mat-toolbar>
</div>
