<ngx-ui-loader
  fgsColor="#F44336"
  pbColor="#F44336"
  [fgsType]="SPINNER.foldingCube"
>
</ngx-ui-loader>

<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar class="header mat-elevation-z3">
      <span>Christmas Cantata</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="changeTheme()" title="Switch Theme">
        <mat-icon>{{
          THEMES.indexOf(theme) === 0 ? THEMES[1] : THEMES[0]
        }}</mat-icon>
      </button>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>

    <mat-toolbar class="footer mat-elevation-z3">
      <span class="mx-auto text-base">
        &copy; St. Cecilia's Choir,
        <a
          href="https://nfcsaefunai.org"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
          >NFCS AE-FUNAI</a
        >.
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
