<ngx-ui-loader
  fgsColor="#F44336"
  pbColor="#F44336"
  [fgsType]="SPINNER.foldingCube"
>
</ngx-ui-loader>

<mat-sidenav-container>
  <mat-sidenav
    #snav
    [fixedInViewport]="true"
    fixedTopGap="56"
    class="p-6"
    [class.hidden]="isTakingQuiz"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a
        mat-list-item
        href="https://api.whatsapp.com/send?phone=2347033777385&text=Hi%20Obum.%0D%0AI%20came%20from%20the%20Christmas%20Cantata%20Quiz%20website.%0D%0AI%20want%20to%20register%20for%20the%20quiz.%0D%0AMy%20full%20name%20is%20"
        color="primary"
        target="_blank"
        rel="noopener noreferrer"
        *ngIf="!isSignedIn"
      >
        Register
      </a>
      <a mat-list-item routerLink="/quiz">Take Quiz</a>
      <a mat-list-item routerLink="/quiz/leaderboards">Leaderboards</a>
      <button mat-list-item (click)="signOut()" *ngIf="isSignedIn">
        Sign Out
      </button>
      <button mat-list-item (click)="changeTheme()" title="Switch Theme">
        {{ THEMES.indexOf(theme) === 0 ? 'Dark Theme' : 'Light Theme' }}
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="header mat-elevation-z3">
      <button
        mat-icon-button
        (click)="snav.toggle()"
        class="ccq-menu-button"
        [class.hidden]="isTakingQuiz"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Christmas <span id="nav-cantata-text">Cantata </span>Quiz</span>
      <span class="spacer"></span>
      <a
        mat-stroked-button
        routerLink="/"
        class="ccq-desktop-nav-item"
        [class.hidden]="isTakingQuiz"
        >Home</a
      >
      <a
        mat-stroked-button
        routerLink="/quiz"
        class="ccq-desktop-nav-item"
        [class.hidden]="isTakingQuiz"
        >Take Quiz</a
      >
      <a
        mat-stroked-button
        routerLink="/quiz/leaderboards"
        class="ccq-desktop-nav-item"
        [class.hidden]="isTakingQuiz"
        >Leaderboards</a
      >
      <button
        mat-stroked-button
        (click)="signOut()"
        class="ccq-desktop-nav-item"
        *ngIf="isSignedIn"
        [class.hidden]="isTakingQuiz"
      >
        Sign Out
      </button>
      <a
        mat-raised-button
        *ngIf="!isSignedIn"
        id="nav-register-button"
        href="https://api.whatsapp.com/send?phone=2347033777385&text=Hi%20Obum.%0D%0AI%20came%20from%20the%20Christmas%20Cantata%20Quiz%20website.%0D%0AI%20want%20to%20register%20for%20the%20quiz.%0D%0AMy%20full%20name%20is%20"
        color="primary"
        target="_blank"
        rel="noopener noreferrer"
        [class.hidden]="isTakingQuiz"
      >
        Register
      </a>
      <button
        class="ccq-desktop-nav-item"
        id="nav-theme-button"
        [class.show-in-mobile]="isSignedIn"
        mat-icon-button
        (click)="changeTheme()"
        title="Switch Theme"
      >
        <mat-icon>{{
          THEMES.indexOf(theme) === 0 ? THEMES[1] : THEMES[0]
        }}</mat-icon>
      </button>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>

    <mat-toolbar class="footer mat-elevation-z3">
      <span class="mx-auto text-base">
        &copy; St. Cecilia's Choir,
        <a
          href="https://nfcsaefunai.org"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
          >NFCS AE-FUNAI</a
        >.
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
